/*Setting initial */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}
/*Product in sell */
.articolo {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 400px;
  margin-left: 10px;
}

/*Image's article 1*/
.img-article {
  background-image: url("../img/1.webp");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 360px;
}

/*Heart's favourites products */
.img-article div:first-child {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Image's article 2*/
.img-article2 {
  background-image: url("../img/2.webp");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 360px;
}

/*Heart's favourites products */
.img-article2 div:first-child {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Image's article 3*/
.img-article3 {
  background-image: url("../img/3.webp");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 360px;
}

/*Heart's favourites products */
.img-article3 div:first-child {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-article4 {
  background-image: url("../img/4.webp");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 360px;
}

/*Heart's favourites products */
.img-article4 div:first-child {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-article5 {
  background-image: url("../img/5.webp");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 360px;
}

/*Heart's favourites products */
.img-article5 div:first-child {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-article6 {
  background-image: url("../img/6.webp");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 360px;
}

/*Heart's favourites products */
.img-article6 div:first-child {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Sustainbility of the product */
.sustain {
  background-color: hsl(160deg 100% 26%);
  color: white;
  font-size: 10px;
  padding: 3px;
}
/*Relattive discount's product */
.discount {
  background-color: hsl(346deg 100% 46%);
  color: white;
  margin-right: 5px;
  font-size: 10px;
  padding: 3px;
}

/* Position of sustain and discount for all articles*/
.img-article div:last-child {
  position: absolute;
  bottom: 10px;
}

.img-article2 div:last-child {
  position: absolute;
  bottom: 10px;
}

.img-article3 div:last-child {
  position: absolute;
  bottom: 10px;
}

.img-article4 div:last-child {
  position: absolute;
  bottom: 10px;
}

.img-article5 div:last-child {
  position: absolute;
  bottom: 10px;
}

.img-article6 div:last-child {
  position: absolute;
  bottom: 10px;
}

/*Description about the product: brand, material, final price */
.desc-article {
  width: 100%;
  height: 40px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  text-align: left;
}

#price-discount {
  color: red;
}

#realprice {
  text-decoration-line: line-through;
}

/*Hover over articolo, show another image and set color heart red */
.articolo:hover .img-article {
  background-image: url("../img/1b.webp");
}

.articolo:hover .img-article div:first-child {
  color: red;
}

.articolo:hover .img-article2 {
  background-image: url("../img/2b.webp");
}

.articolo:hover .img-article2 div:first-child {
  color: red;
}

.articolo:hover .img-article3 {
  background-image: url("../img/3b.webp");
}

.articolo:hover .img-article3 div:first-child {
  color: red;
}

.articolo:hover .img-article4 {
  background-image: url("../img/4b.webp");
}

.articolo:hover .img-article4 div:first-child {
  color: red;
}

.articolo:hover .img-article5 {
  background-image: url("../img/5b.webp");
}

.articolo:hover .img-article5 div:first-child {
  color: red;
}

.articolo:hover .img-article6 {
  background-image: url("../img/6b.webp");
}

.articolo:hover .img-article6 div:first-child {
  color: red;
}

/*Tools's debug */
/*
.debug .articolo {
  border: 1px solid black;
}

.debug .img-article {
  border: 1px solid violet;
}

.debug .sustain {
  border: 1px solid green;
}

.debug .discount {
  border: 1px solid red;
}

.debug .desc-article {
  border: 1px solid blue;
}

.debug .img-article div:last-child {
  border: 1px solid orange;
}

.debug .img-article div:first-child {
  border: 1px solid cyan;
}

.debug .first-row-article {
  border: 4px solid black;
}
*/
